<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Dashboard Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/css/dashboard.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tag:</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-12 main">
                    <h1 class="page-header">Hostname: {{ facts.hostname }}</h1>
                    <div class="row placeholders">
                        <a href="/{{ usertoken }}">
                            <div class="col-sm-4">
                                <div class="icon bg-pomegranate bg-silver-hover">
                                    <span class="fa fa-2x fa-heartbeat"></span>
                                </div>
                            <h4>Health</h4>
                        </div>
                        </a>
                        <a href="/local/{{ usertoken }}">
                            <div class="col-sm-4">
                                <div class="icon bg-river bg-silver-hover">
                                    <span class="fa fa-2x fa-info"></span>
                                </div>
                            <h4>Local Facts</h4>
                            </div>
                        </a>
                        <a href="/facter/{{ usertoken }}">
                            <div class="col-sm-4">
                                <div class="icon bg-orange bg-silver-hover">
                                    <span class="fa fa-2x fa-rocket"></span>
                                </div>
                            <h4>Facter</h4>
                            </div>
                        </a>
                    </div>
                    <h2 class="sub-header">Local Facts</h2>
                    <div class="table-responsive" align=center>
                        <table class="table table-striped" style="max-width: 20%;">
                            <thead>
                                <tr>
                                    <td nowrap style="font-weight: bold;">Fact</td>
                                    <td nowrap style="font-weight: bold;">Value</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fact in facts %}
                                <tr>
                                    <td nowrap style="font-weight: bold;">{{ fact }}</td>
                                    <td nowrap>{{ facts[fact] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
